.topBar{
	color: #e3dac9;
	background-color: #006734;
	height: 200px;
}

.tittle{
	position: relative;
	top:70%;
}

.logo{
	background-color: #006734;
	position: relative;
	left: 45%;
	bottom: 20%;
}

.row{
	margin: 10px;
}

.option{
	background-color: #5f9ea0;
	padding: 10px;
	margin: 10px;
	display: inline;
}

#table-1
{
	background-color: #81c784;
}


table{     
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;    
	margin: 45px;     
	width: 480px; 
	text-align: left;    
	border-collapse: collapse; 
}

th{     
	font-size: 13px;     
	font-weight: normal;     
	padding: 8px;     
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;    
	border-bottom: 1px solid #fff; 
	color: #039; 
}

td{    
	padding: 8px;     
	background: #e8edff;     
	border-bottom: 1px solid #fff;
	color: #669;    
	border-top: 1px solid transparent; 
}
#Barra{
	border-radius: 10px 10px 10px 10px;
	color: #e3dac9;
	background-color: #006734;
	height: 150px;
}

#InsertText{
	border-radius: 10px 10px 10px 10px;
	font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
   
}

.botones{
	margin-left: 10px;
	text-decoration: none;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;				/*color letras*/
    background-color: #388e3c;  /*color de fondo*/
    border-radius: 5px 5px 5px 5px;			
    border: 1px solid #7cb342;
}


.label {
   width: 110%;
   float: left;
   height: 20px;
}
 #GuardaMaterial{
 	background-color: #388e3c;
 }

 .header {
    color: #8bc34a;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}