.topBar{
	color: #e3dac9;
	background-color: #006734;
	height: 200px;
}

.login-screen{
	text-align: center;
}

.tittle{
	position: relative;
	top:70%;
}

.logo{
	background-color: #006734;
	position: relative;
	left: 45%;
	bottom: 20%;
}

.row{
	margin: 10px;
}

.option{
	background-color: #5f9ea0;
	padding: 10px;
	margin: 10px;
	display: inline;
}

.pag_button{
	margin: 3px !important;
}

#table-1
{
	background-color: #81c784;
}



#Barra{
	border-radius: 10px 10px 10px 10px;
	color: #e3dac9;
	background-color: #006734;
	height: 150px;
}

#InsertText{
	border-radius: 10px 10px 10px 10px;
	font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
   
}

.botones{
	margin-left: 10px;
	text-decoration: none;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;				/*color letras*/
    background-color: #388e3c;  /*color de fondo*/
    border-radius: 5px 5px 5px 5px;			
    border: 1px solid #7cb342;
}

 #GuardaMaterial{
 	background-color: #388e3c;
 }

 .header {
    color: #8bc34a;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.caption{
	background-color: rgba(0, 26, 15, 0.6);
  	color: white;
  	padding: 5px;  	  	
  	text-align: center;
}

.options{
	padding: 5px;
	opacity: 0.7;
}

.options:hover{
	opacity: 10;
	transition: 1s;
}

.btn-uabc-green{
	border-color: #d1be16;
}

.singup-form{
	margin: 10px;
}

.singupform{
	padding: 20px;
}
.total-material span{
	width: 28px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
.total-material i{
	color: #696969;
	font-size: 16px;
}

.total-material i:hover{
	color: #000;
	cursor: pointer;
}

.label-normal {
    background-color: #fff;
    border: solid 1px #e4e4e4;
    color:#a7a7a7;
}

.label-overage{
	background-color: #f1c40f;
}

.api-message{
	color: #fff;
    padding: 5px 20px;
    text-align: center;
}

.in-table{
	width: 100px;
	background-color: #FFFFFF !important;
	border: 1px solid #E3E3E3 !important;
}
.nav-tabs.nav-tabs-right>li{
	float: right !important;
}

.list-checkbox{
	width: 20px;
    padding: 0;
    display: block;
    margin: 0 auto !important;
}

.modal-body .in-table{
	font-size: 16px !important;
    height: 30px;
}
.loan-amount-total{
	display: block;	
	float: left;
	font-size: 24px !important;
	margin-left: 10px;
}

/* tables */
table.tablesorter {
	font-family:arial;
	/*background-color: #CDCDCD;*/
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
/*table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}*/
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
/*table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}*/
/*table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}*/
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
/*table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}*/